.button {
  font: inherit;
  background-color: #fff;
  border: 1px solid #55A84F;
  color: #55A84F;
  padding: 6px 9px;
  cursor: pointer;
  border-radius: 5px;
}

.button:hover {
  background-color:#55A84F;
  color: #fff;
  border-color: #fff;
}

.button:active {
  background-color:#55c44d;
  color: #fff;
  border-color: #fff;
}

button:disabled,
button:focus:disabled,
button:hover:disabled,
button:active:disabled {
  background: #ccc;
  border-color: #ccc;
  color: #666666;
  cursor: not-allowed;
}
