.header {
  background-color: #F8F9FA;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 30px;
}

.header p {
    margin:0;
    padding-top: 10px;
}

nav {
  display: flex;
  align-items: center;
}

